* {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
}

body {
  text-align: left;
  margin: 0 auto;
  padding: 0;
  /* font-family: 'Roboto', sans-serif; */
  font-family: 'Oswald', sans-serif;
  position: relative;
  background-color: #ff0060;
}

p {
  font-family: Arial, Helvetica, sans-serif;
}

/* navbar */

.navbar {
  display: flex;
  justify-content: center;
  background-color: black;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 100;
}

.nav-links {
  display: flex;
  list-style: none;
}

.nav-item a {
  display: inline-block;
  padding: 10px 15px;
  text-decoration: none;
  color: white;
}

.nav-item:hover {
  background-color: white;
}

.wrapper {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  /* perspective: 2px; */
  padding-top: 70px;
  margin: 0 50px 0 50px;
}

.header {
  text-align: center;
  color: azure;
  /* background-color: white; */
}

.big-guineas {
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  left: 0;
  background-color: #ff0060;
  height: 400px;
}

/* skills table */

.row-skills {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  /* background-color: blue; */
}

.column-skills {
  display: flex;
  justify-content: space-around;
  flex: 1;
  /* background-color: blueviolet; */
}

/* projects */

.container-projects {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .column-projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .projects {
    padding: 30px;
    width: 500px;
    background-color: #33CCA8;
    margin: 40px;
    border-radius: 10px;
  }

  .screenshots {
    height: 250px;
    width: 435px;
    align-items: center;
    border-radius: 10px;
  }

  .github-img, .link-img, .email-img, .linkedin-img {
    height: 50px;
    width: 50px;
  }

/* parallax */

/* 
.section {
  position: relative;
  height: 100vh;
  
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-shadow: 0 0 5px #000;
}

.parallax::after {
  background-repeat: no-repeat;
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  
  transform: translateZ(-1px) scale(1.5);
  background-attachment: fixed;
  background-size: 100%;
  z-index: -1;
}

.static {
  background: rgb(12, 12, 100);
}

.bg1::after {
  background-image: url('https://cdn.wallpapersafari.com/70/9/GLSsU7.jpg');
} */
